<% content_for(:title, t('.title')) %>
<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb"></nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t '.title' %></h1>
    </div>
    <div class="col-lg-7 col-md-8">
      <%= search_form_for @q, url: sample_teacher_sample_test_results_path do |f| %>
        <div class="row align-items-end">
          <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
            <%= f.search_field :sample_student_name_cont, class: 'form-control', placeholder: '氏名を検索' %>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 mb-2">
            <%= f.select :sample_student_grade_id_eq, Grade.all.map{|g| [g.name, g.id]}, { include_blank: '学年を検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 mb-2">
            <%= f.select :sample_student_sample_student_class_id_eq, current_sample_teacher_sample_teacher.sample_school.sample_student_classes.map{|c| [c.name, c.id]}, { include_blank: 'クラスを検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <%= f.select :sample_test_name_id_eq, current_sample_teacher_sample_teacher.sample_test_names.map{|tn| [tn.test_name, tn.id]}, { include_blank: 'テスト名で検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <%= f.select :sample_subject_id_eq, current_sample_teacher_sample_teacher.sample_subjects.map{|s| [s.subject_name, s.id]}, { include_blank: '教科名で検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <%= f.submit "検索", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= Student.human_attribute_name(:student_number) %></th>
          <th scope="col"><%= Student.human_attribute_name(:name) %></th>
          <th scope="col"><%= Student.human_attribute_name(:grade_id) %></th>
          <th scope="col"><%= Student.human_attribute_name(:student_class_id) %></th>
          <th scope="col"><%= TestResult.human_attribute_name(:test_name_id) %></th>
          <th scope="col"><%= TestResult.human_attribute_name(:subject_id) %></th>
          <th scope="col"><%= TestResult.human_attribute_name(:created_at) %></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <% @sample_test_results.each do |sample_test_result| %>
            <tr>
              <td><%= sample_test_result.sample_student.student_number %></td>
              <td><%= link_to sample_test_result.sample_student.name, subject_achievement_rate_sample_teacher_sample_test_results_path(id: sample_test_result.sample_student.id) %></td>
              <td><%= sample_test_result.sample_student.grade.name %></td>
              <td><%= sample_test_result.sample_student.sample_student_class.name %></td>
              <td><%= link_to SampleTestName.find(sample_test_result.sample_test_name_id).test_name, sample_teacher_sample_test_result_path(id: sample_test_result.id) %></td>
              <td><%= SampleSubject.find(sample_test_result.sample_subject_id).subject_name %></td>
              <td><%= l sample_test_result.created_at, format: :long %></td>
              <td>
                <div class="btn-group" role="group">
                  <%= link_to t('defaults.show'), sample_teacher_sample_test_result_path(id: sample_test_result.id), class: 'btn btn-info me-2' %>
                  <%= link_to t('defaults.edit'), '#', class: 'btn btn-success me-2' %>
                  <%= button_to t('defaults.delete'), '#', method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %>
                </div>  
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>