<% content_for(:title, t('.title')) %>
<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb"></nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t '.title' %></h1>
    </div>
    <div class="col-lg-7 col-md-8">
      <%= search_form_for @q, url: teacher_test_results_path do |f| %>
        <div class="row align-items-end">
          <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
            <%= f.search_field :student_name_cont, class: 'form-control', placeholder: '氏名を検索' %>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 mb-2">
            <%= f.select :student_grade_id_eq, Grade.all.map{|g| [g.name, g.id]}, { include_blank: '学年を検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 mb-2">
            <%= f.select :student_student_class_id_eq, StudentClass.all.map{|c| [c.name, c.id]}, { include_blank: 'クラスを検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <%= f.select :test_name_id_eq, TestName.all.map{|tn| [tn.test_name, tn.id]}, { include_blank: 'テスト名で検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <%= f.select :subject_id_eq, Subject.all.map{|s| [s.subject_name, s.id]}, { include_blank: '教科名で検索' }, { class: 'form-select' } %>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <%= f.submit "検索", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-3">
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= Student.human_attribute_name(:name) %></th>
          <th scope="col"><%= Student.human_attribute_name(:grade_id) %></th>
          <th scope="col"><%= Student.human_attribute_name(:student_class_id) %></th>
          <th scope="col"><%= TestResult.human_attribute_name(:test_name_id) %></th>
          <th scope="col"><%= TestResult.human_attribute_name(:subject_id) %></th>
          <th scope="col"><%= TestResult.human_attribute_name(:created_at) %></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <%= render @test_results %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @test_results %>
</section>