<% content_for(:title, t('.title')) %>
<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb"></nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t '.title' %></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= School.human_attribute_name(:name) %></th>
          <th>コード</th>
          <th><%= School.human_attribute_name(:address) %></th>
          <th><%= School.human_attribute_name(:phone_number)%></th>
          <th><%= School.human_attribute_name(:email)%></th>
          <th><%= School.human_attribute_name(:website) %></th>
          <th>クラス名</th>
          <th>先生一覧</th>
        </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</section>
