<% content_for(:title, t('.title')) %>
<div class="container d-flex flex-wrap justify-content-center justify-content-center pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1 class="text-center text-xl-start"><%= t '.title' %></h1>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= Subject.human_attribute_name(:subject_name) %></th>
              <th><%= TestName.human_attribute_name(:test_name) %></th>
              <th><%= MaxScore.human_attribute_name(:max_score) %></th>
            </tr>
          </thead>
          <tbody>
            <td>
              <% @subjects.each do |subject| %>
                <%= link_to subject.subject_name, teacher_subject_path(id: subject.id) %><br>
              <% end %>
            </td>
            <td>
              <% @test_names.each do |test_name| %>
                <%= link_to test_name.test_name, teacher_test_name_path(id: test_name.id) %><br>
              <% end %>
            </td>
            <td>
              <% @max_scores.each do |max_score| %>
                <%= link_to max_score.max_score, teacher_max_score_path(id: max_score.id) %><br>
              <% end %>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>