<% content_for(:title, t('.title')) %>
<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb"></nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="mb-2 mb-md-0"><%= t '.title' %></h1>
    </div>
  </div>
  <% if @subjects.any? %>
    <ul>
      <% @subjects.each do |subject| %>
        <li><%= link_to subject.subject_name, teacher_subject_path(id: subject.id) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No subjects found.</p>
  <% end %>
  <% if @max_scores.any? %>
    <ul>
      <% @max_scores.each do |max_score| %>
        <li><%= link_to max_score.max_score, teacher_max_score_path(id: max_score.id) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No max scores found.</p>
  <% end %>

  <%= link_to 'New Subject', new_teacher_subject_path %>
  <%= link_to 'New Max Score', new_teacher_max_score_path %>
</section>